{% extends "base.html" %}

{% load static %}

{% block title %} sales {% endblock %}


{% comment %} Content {% endcomment %}
{% block content %}
 <div class="cards">
                <div class="card">
                    <img src="{% static 'img/bowl_handmade.png' %}" alt="imagen bowl artesanal">
                    <h3>Bowl Artesanal Vintage</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, culpa? Nesciunt quas velit</p>
                    <p class="price">$25.900,00</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/box_wood.png' %}" alt="imagen caja madera">
                    <h3>Caja Madera Deco</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, culpa? Nesciunt quas velit</p>
                    <p class="price">$19.900,00</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/fox_wood.png' %}" alt="imagen zorros de madera">
                    <h3>Zorros Madera</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, culpa? Nesciunt quas velit</p>
                    <p class="price">$15.000,00</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/cat_wood.png' %}" alt="imagen gato madera tallada">
                    <h3>Gato Tallado en Madera</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, culpa? Nesciunt quas velit</p>
                    <p class="price">$9.900,00</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/cup_wood.png' %}" alt="imagen copa madera">
                    <h3>Copa Madera Diseño</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, culpa? Nesciunt quas velit</p>
                    <p class="price">$24.000,00</p>
                </div>
        </div>
{% endblock %}